/* Table header */
.dataview .table-view-thead {
    font-size: var(--font-smallest);
}
.table-view-table > thead > tr > th {
    border-bottom: 2px solid var(--background-modifier-border);
    color: var(--text-faint);
    font-weight: 400;
}

.dataview.small-text {
    color: var(--text-faint)
}

.table-view-table > tbody > tr {
    border-bottom: 1px solid var(--background-modifier-border);
}

/* Minimal embedded note view */
.table-view-table .table-view-tbody .internal-embed {
    border-left: none;
    padding-left: 0;
}

.table-view-table .table-view-tbody .internal-embed .markdown-embed-title {
    display: none;
}

.table-view-table .table-view-tbody .internal-embed .markdown-preview-view h1,
.table-view-table .table-view-tbody .internal-embed .markdown-preview-view h2,
.table-view-table .table-view-tbody .internal-embed .markdown-preview-view h3,
.table-view-table .table-view-tbody .internal-embed .markdown-preview-view h4,
.table-view-table .table-view-tbody .internal-embed .markdown-preview-view h5 {
    margin-block-start: 0;
    margin-block-end: 0.5rem;
}
.table-view-table .table-view-tbody .internal-embed .markdown-preview-view p {
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}
.table-view-table .table-view-tbody .internal-embed .markdown-preview-view {
    max-height: 100px;
    max-width: 400px;
}

.table-view-table .table-view-tbody .internal-embed[src*="#"] .markdown-preview-view h1:first-child {
    display: none;
}
    
.table-view-table .table-view-tbody p:has(.internal-embed) {
    margin-top: 0;
    margin-bottom: 0;
}

/* Minimal empty table */
.dataview-error-box {
    min-height: 30px !important;
    display: none !important;
}

.dataview-error-message {
    display: none;
}
